<form class="{{cssClass}} item-form flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" ></h1>
        </div>
    </header>

    <table class="flex0">
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
        </colgroup>

        <tr>
            <th>{{localize "KG.STR"}}</th>
            <th>{{localize "KG.AGI"}}</th>
            <th>{{localize "KG.INT"}}</th>
            <th>{{localize "KG.WIL"}}</th>
            <th>{{localize "KG.LCK"}}</th>
        </tr>

        <tr>
            <td><input type="text" name="system.attributes.str_roll.value" value="{{system.attributes.str_roll.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.agi_roll.value" value="{{system.attributes.agi_roll.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.int_roll.value" value="{{system.attributes.int_roll.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.wil_roll.value" value="{{system.attributes.wil_roll.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.lck_roll.value" value="{{system.attributes.lck_roll.value}}" data-dtype="Number"/></td>
        </tr>

    </table>

    {{~> 'kamigakari.item-description' type="facade"}}
</form>
