<form class="{{cssClass}} item-form flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
          <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" ></h1>
        </div>
    </header>

    <table class="flex0">

        <tr>
            <th>{{localize "KG.ACC"}}</th>
            <th>{{localize "KG.EVA"}}</th>
            <th>{{localize "KG.CNJ"}}</th>
            <th>{{localize "KG.RES"}}</th>
            <th>{{localize "KG.INS"}}</th>
            <th>{{localize "KG.PD"}}</th>
            <th>{{localize "KG.MD"}}</th>
            <th>{{localize "KG.Init"}}</th>
            <th>{{localize "KG.HP"}}</th>
        </tr>

        <tr>
            <td><input type="text" name="system.attributes.acc.value" value="{{system.attributes.acc.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.eva.value" value="{{system.attributes.eva.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.cnj.value" value="{{system.attributes.cnj.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.res.value" value="{{system.attributes.res.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.ins.value" value="{{system.attributes.ins.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.pd.value" value="{{system.attributes.pd.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.md.value" value="{{system.attributes.md.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.init.value" value="{{system.attributes.init.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" data-dtype="Number"/></td>
        </tr>


    </table>

    {{~> 'kamigakari.item-description' type="style"}}
</form>
